<footer>

    <div class="footer-category">

      <div class="container">

        <!-- <h2 class="footer-category-title">Brand directory</h2> -->

        <div class="footer-category-box">

          <h1 class="footer-category-title">
            ุจุฏูุฌุงุช๐ฺฏุฑุฏูุจูุฏ-ุฏุณุชุจูุฏ-ฺฏูุดูุงุฑู
            ูุฑูุด ุชุฎุตุต ุฒูุฑุขูุงุช ุงูุฑุฌูุงู
            ๐ูพุฑุง ฺฏุงูุฑ ุงููุฏู
            ุชุง ุจุง ุงฺฉุณุณูุฑ ูุง ุจุฑูุฏ ู ุฎุงุตุด ฺฉุงุฑ ฺฉูู ฺฉู ุชู
            ูุญุธู ูุญุธู ุฌุฐุงุจุชุฑู ุจุงุด๐ฅฐ
            ๐ฎ๐ทุงุฑุณุงู ุฑุงฺฏุงู๐ฎ๐ท
          
          </h1>

         

        </div>

       

      

      </div>

    </div>

   

    <div class="footer-bottom">

      <div class="container">

       <h3 style="color:azure">  09036089781ุชูุฑุงู</h3>

        <p class="copyright">
          Copyright &copy;  <a href="https://instagram.com/pira_gallery" target="_blank" rel="noopener noreferrer"> Pira_Gallery</a> all rights reserved.
        </p>

      </div>

    </div>

  </footer>